.wx-spacer.wx-KVAsgMam {
  flex: 1;
}
.wx-tb-element.wx-KVAsgMam {
  padding: 4px;
  flex-shrink: 0;
  align-self: center;
  display: flex;
}
.wx-menu.wx-tb-element.wx-KVAsgMam {
  line-height: 36px;
  padding: 2px 8px;
  background-color: var(--wx-background);
}
.wx-menu button {
  width: 100%;
}
.wx-menu .wx-tb-element {
  align-self: stretch;
}
.wx-menu.wx-tb-element:hover {
  background: var(--wx-background-alt);
}
