.wx-toolbar.wx-VdPSJj8y {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  align-items: stretch;
  padding: 4px;
  position: relative;
  min-height: 48px;
}
.wx-toolbar.wx-has-menu.wx-VdPSJj8y {
  padding-right: 48px;
}
.wx-toolbar.wx-wrap.wx-VdPSJj8y {
  flex-wrap: wrap;
}
.wx-column.wx-VdPSJj8y {
  flex-flow: column;
  width: auto;
}
.wx-column.wx-VdPSJj8y > .wx-tb-element {
  width: 100%;
}
