* {
  -webkit-tap-highlight-color: transparent;
}

.wx-demos.page-header *,
.wx-demos.sidebar * {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wx-demos.page-header {
  --wx-border: 1px solid #ebebeb;
}

.wx-demos.layout {
  --demo-framework-color: #087a9f;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
}

.wx-demos.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.wx-demos.page-content-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 12px;
  border-bottom: var(--wx-border);
}

.wx-demos.layout.narrow .wx-demos.page-content-header {
  height: 68px;
  padding: 12px 16px 12px 28px;
}

.wx-demos.header-title-box {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
  min-width: 0;
}

.wx-demos.header-actions-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.wx-demos.layout.narrow .wx-demos.header-actions-container {
  gap: 12px;
}

.wx-demos.layout.active {
  flex-direction: row;
}

.wx-demos.sidebar {
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s;
}

.wx-demos.layout.narrow .wx-demos.sidebar {
  transition: none;
}

.wx-demos.sidebar-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #fbfbfb;
  padding: 14px 16px 14px 18px;
}

.wx-demos.box-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.wx-demos.box-title img:hover,
.wx-demos.box-title img:focus {
  opacity: 0.6;
}

.wx-demos.box-title img:active {
  opacity: 0.8;
}

.wx-demos.box-title .wx-demos.separator {
  width: 1px;
  height: 20px;
  background: #ebebeb;
}

.wx-demos.sidebar.active,
.wx-demos.sidebar-content {
  width: 300px;
}

.wx-demos.layout.narrow .wx-demos.sidebar.active,
.wx-demos.layout.narrow .wx-demos.sidebar-content {
  width: 100%;
}

.wx-demos.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  border-right: var(--wx-border);
  overflow-y: auto;
  font-size: 16px;
  line-height: 20px;
  background-color: #fbfbfb;
  border-bottom: var(--wx-border);
}

.wx-demos.btn-box button.toggle-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border: var(--wx-border);
  color: #2c2f3c;
  font-weight: 500;
  line-height: 18px;
}

.wx-demos.btn-box button.toggle-btn:hover,
.wx-demos.btn-box button.toggle-btn:focus {
  border: var(--wx-border);
  background: #f7f7f7;
}

.wx-demos.btn-box button.toggle-btn:active {
  background: #f1f1f1;
}

.wx-demos.btn-box button.toggle-btn i {
  opacity: 1;
  color: #42454d;
}

.wx-demos.btn-box button.toggle-btn.link-btn {
  padding: 7px 19px;
  border-radius: 4px;
  align-items: center;
}

.wx-demos.layout.narrow .wx-demos.btn-box button.toggle-btn.link-btn {
  padding: 11px;
}

.wx-demos.btn-box button.toggle-btn.link-btn div {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wx-demos.layout.narrow .wx-demos.btn-box button.toggle-btn.link-btn div {
  width: 20px;
  height: 20px;
}

.wx-demos.btn-box button.toggle-btn.link-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wx-demos.header-back-btn {
  height: 48px;
  width: 100%;
  padding: 8px 16px;
  border-bottom: var(--wx-border);
}

.wx-demos.header-back-btn .wx-demos.btn-box button.toggle-btn {
  border: 1px solid transparent;
  padding: 5px;
  gap: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--demo-framework-color);
}

.wx-demos.header-back-btn .wx-demos.btn-box button.toggle-btn:hover,
.wx-demos.header-back-btn .wx-demos.btn-box button.toggle-btn:focus,
.wx-demos.header-back-btn .wx-demos.btn-box button.toggle-btn:active {
  border: 1px solid transparent;
  background: transparent;
}

.wx-demos.header-back-btn .wx-demos.btn-box button.toggle-btn i {
  color: var(--demo-framework-color);
}

.wx-demos a {
  display: flex;
  text-decoration: none;
}

.wx-demos.wrapper-content {
  flex: 1;
  height: calc(100% - 60px);
}

.wx-demos.layout.narrow .wx-demos.wrapper-content {
  height: calc(100% - 116px);
}

.wx-demos.wrapper-content .wx-demos.content {
  position: relative;
  width: 100%;
  height: 100%;
  transition:
    transform 0.3s,
    width 0.3s;
  overflow-y: auto;
}

.wx-demos.box-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wx-demos.hint {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #42454d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wx-demos.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #42454d;
  white-space: nowrap;
}

.wx-demos.segmented-box div.segmented-themes {
  height: 36px;
  padding: 2px;
  border-radius: 4px;
}

.wx-demos.segmented-box div.segmented-themes button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--wx-color-font-alt);
  background-color: transparent;
  padding: 7px 12px;
  border: none;
}

.wx-demos.segmented-box div.segmented-themes button.wx-selected {
  border-radius: 2px;
  font-weight: 500;
  color: var(--wx-color-font);
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(66, 69, 76, 0.07);
}

.wx-demos.segmented-box div.segmented-themes button svg {
  height: 16px;
  width: 16px;
}

.wx-demos.layout.narrow .wx-demos.segmented-box div.segmented-themes {
  height: 44px;
}

.wx-demos.layout.narrow .wx-demos.segmented-box div.segmented-themes button {
  padding: 7px 10px;
}

.wx-demos.layout.narrow
  .wx-demos.segmented-box
  div.segmented-themes
  button
  svg {
  height: 24px;
  width: 24px;
}

.wx-demos.content h4 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
  border-bottom: var(--wx-border);
}

.wx-demos.content h3 {
  font-size: 18px;
  margin: 12px 0;
  font-weight: normal;
}
.wx-demos.content .demo-box {
  margin: 20px;
}
.wx-demos.content .demo-box + .demo-box {
  margin-top: 40px;
}
.wx-demos.content .demo-code {
  font-family: monospace;
  line-height: 30px;
}

.wx-demos.content .demo-status {
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.15);
  padding-left: 10px;
}

.wx-demos.content .demo-toolbar {
  border: 2px solid var(--wx-background-alt);
  max-width: 600px;
}

.wx-demos.content .demo-row {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.wx-demos.content .demo-hscroll {
  display: flex;
  gap: 4px;
  overflow-x: auto;
  padding-bottom: 4px;
  white-space: nowrap;
}

.wx-theme {
  height: 100%;
}
